<h1> HELLO THIS IS MY LANDING PAGE </h1>

<h6> CURRENT LOGGED IN USER name: <%= @user.first_name %> <%= @user.last_name %> <h6>

<% @posts.each do |p| %>
  <h2> USER: <%= p.user.first_name %> <%= p.user.last_name %>
  <h3> POST TITLE: <%= p.title %> </h3>
  <h5> POST: BODY<%= p.body %> </h5>
  <hr>
<% end %>
