<%= stylesheet_link_tag 'landing', media: 'all' %>
<nav class='top-nav'>
  <ul class='navbar'>
    <div class='logo'>
      <li><ion-icon class='logo-header' name="logo-reddit"></ion-icon></li>
      <li><span class='logo-text'>REEDAT</span></li>
    </div>
    <div class='list'>
      <li><ion-icon name="trending-up"></ion-icon></li>
      <li><ion-icon name="stats"></ion-icon></li>
      <li><a href='#create-post'><ion-icon name="create" ></ion-icon></a></li>
      <li class='search'>
        <input class='search-box' type='text' placeholder='Search' />
      </li>
    </div>
    <% if !user_signed_in? %>
    <div class='button-group'>
      <li><%= button_to 'Log-In', login_path, :class => 'login-button', :method => :get%></li>
      <li><%= button_to 'Sign-Up', new_user_path, :class => 'sign-up-button', :method => :get%></li>
    </div>
    <% else %>
    <div class='button-group'>
      <li class='dropdown-nav'>
        <%= link_to current_user.username, users_me_path,:class =>'', :method => :post %>
        <ul class='dropdown'>
        <li><%= link_to 'Logout', destroy_user_session_path, :class => '', :method => :delete%></li>
        </ul>
      </li>
      <li class='user-icon'><%= image_tag @identicon %></li>
</div>
    <% end %>
  </ul>
</nav>

<section class='main-content'>
  <% @posts.each do |post| %>
    <div class='content'>
      <div class='side-bar'>
        <%= link_to vote_path(post), method: :post do %>
          <ion-icon name="arrow-round-up" class='arrow-up'></ion-icon>
        <% end %>
        <span> <%= post.votes.where(upvote: true).count %></span>
        <ion-icon name="arrow-round-down" class='arrow-down'></ion-icon>
      </div>
      <div class='inner-content'>
        <div class='user'>
          <div class='icon'></div>
          <span class='thread'>r/hello</span>
          <span class='posted-by'>Posted by u/<%= post.user.username %> 1 hour ago </span>
        </div>

        <div class='title'>
          <%= post.title %>
        </div>

        <div class='picture'>
          <% if post.photos.url != nil %>
          <%= image_tag post.photos.thumb.url %>
          <% else %>
          <%= post.body %>
          <% end %>
        </div>

        <div class='options'>
          <ul class='option-list'>
            <li class='comments'>
              <ion-icon name="chatboxes"></ion-icon>
              <span>
                <%= post.comments.count %>
                <%= link_to 'Comments', post_path(post) %>
              </span>
            </li>
            <li class='share'>
              <ion-icon name="share-alt"></ion-icon>
              <span>Share</span>
            </li>
            <li class='delete'>
              <% if post.user == current_user %>
                <span><%= link_to 'Delete', post_path(post), :method => :delete%> </span>
              <% end %>
            </li>
            <li>
              <span class='lock'><ion-icon name="lock"></ion-icon>Lock me baby</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</section>

<% if user_signed_in? %>

<section class='side-content'>
  <div class='popular'>
    <div class='head'></div>
    <div class='description'>Your personal Reddit frontpage. Come here to check in with your favorite communities.</div>
    <div class='create-post'>
      <a href='#create-post'><button class='create-button'>Create Post</button> </a>
    </div>
  </div>
</section>

<div id='create-post' class='modal-create'>
  <div>
    <a href="#modal-close" title="Close" class="modal-close">X</a>
    <span class='title'>Create Post</span>
    <%= form_with url: posts_path, html: {class: "form-create"}, local: true do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, placeholder: "Title" %> <br>

      <%= f.label :body %>
      <%= f.text_area :body, placeholder: "Body" %> <br>
      <%= f.file_field :photos %>
      <%= f.hidden_field :user_id, value: current_user.id%>

      <%= f.submit 'Post' %>
    <% end %>
  </div>
</div>
<% end %>
<script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
