<blockquote>
  <div class='arrows'>
    <span><ion-icon name="arrow-round-up" class='arrow-up'></ion-icon></span>
    <span><ion-icon name="arrow-round-down" class='arrow-down'></ion-icon></span>
    <div class='vertical-line'></div>
  </div>

  <div class='comments'>
  <span class='username'><a href='#'><%= comment.user.username %> </a>7.3k points 2 hours ago</span>
  <span class='comment-body'><%= comment.body %></span>
    <div class='options'>
      <ul class='option-list'>
        <li class='comment-bar'>
          <ion-icon name="chatboxes"></ion-icon>
          <span>
            Comment
          </span>
        </li>
      </ul>
    </div>

    <%= form_with url: comments_path, local: true do |f| %>
      <%= f.text_field :body %>
      <%= f.hidden_field :comment_id, :value => comment.id %>
      <%= f.hidden_field :post_id, :value => comment.post_id %>
      <%= f.hidden_field :user_id, :value => user.id %>
      <%= f.submit %>
    <% end %>


    <% comment.comments.each do |comment| %>
    <%= render partial: 'comment', :locals => {:comment => comment, :user => user} %>
    <% end %>
    </div>

  </blockquote>


<script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
