<%= stylesheet_link_tag 'comments', media: 'all' %>
<nav class='top-nav'>
  <ul class='navbar'>
    <div class='logo'>
      <li>
        <%= link_to welcome_path do %>
        <ion-icon class='logo-header' name="logo-reddit"></ion-icon>
        <% end %>
      </li>
      <li><span class='logo-text'>r/<%= @post.user.username %></span></li>
      <li><span class='post-body'><%= @post.body %></span></li>
    </div>
    <div class='list'>
      <li><ion-icon name="trending-up"></ion-icon></li>
      <li><ion-icon name="stats"></ion-icon></li>
      <li class='search'>
        <input class='search-box' type='text' placeholder='Search' />
      </li>
    </div>
  </ul>
</nav>

<section class='main-content'>
    <div class='content'>
      <div class='side-bar'>
        <ion-icon name="arrow-round-up" class='arrow-up'></ion-icon>
        <span>14.5k</span>
        <ion-icon name="arrow-round-down" class='arrow-down'></ion-icon>
      </div>
      <div class='inner-content'>
        <div class='user'>
          <div class='icon'></div>
          <span class='thread'>r/hello</span>
          <span class='posted-by'>Posted by u/<%= @post.user.username %> 1 hour ago </span>
        </div>

        <div class='title'>
          <%= @post.title %>
        </div>

        <div class='picture'>
          <% if @post.photos.url != nil %>
          <%= image_tag @post.photos.thumb.url %>
          <% else %>
          <%= @post.body %>
          <% end %>
        </div>

        <div class='options'>
          <ul class='option-list'>
            <li class='comment-bar'>
              <ion-icon name="chatboxes"></ion-icon>
              <span>
                Comments
              </span>
            </li>
            <li class='share'>
              <ion-icon name="share-alt"></ion-icon>
              <span>Share</span>
            </li>
            <li class='more'>
              ...
            </li>
          </ul>
        </div>

        <div class='comment-field'>
          <%= form_with url: comments_path, local: true do |f| %>
            <%= f.label :Comment %>
            <%= f.text_area :body, placeholder: 'What are your thoughts?' %>
            <%= f.hidden_field :user_id, :value => @current_user.id %>
            <%= f.hidden_field :post_id, :value => @post.id %>
            <%= f.submit 'Comment' %>
          <% end %>
        </div>
        <hr>
      </div>

      <div class='comment-section'>
        <% @comments.each do |comment| %>
          <%= render partial: 'comment', :locals => {:comment => comment, :user => @current_user} %>
        <% end %>
      </div>
    </div>
</section>

<section class='side-content'>
  <div class='popular'>
    <div class='head'></div>
    <div class='description'>Your personal Reddit frontpage. Come here to check in with your favorite communities.</div>
    <div class='create-post'>
      <a href='#create-post'><button class='create-button'>Create Post</button> </a>
    </div>
  </div>
</section>




<script src="https://unpkg.com/ionicons@4.2.4/dist/ionicons.js"></script>
